.body {
    margin-top: 104px;

    @include mq-max(sm) {
        margin-top: 84px;
    }
}

.about-me {
    width: 1445px;
    background: $white-background;
    padding-top: 120px;
    padding-bottom: 106px;


    h2 {
        text-align: center;

    }

    @include mq-max(sm) {
        width: 100%;
        padding-top: 82px;
        padding-bottom: 76px;

    }
}

.about-me__description {
    width: 486px;
    margin-left: 480px;
    margin-top: 18px;
    text-align: center;

    @include mq-max(sm) {
        width: 316px;
        margin-top: 30px;
        margin-left: 28px;

        .short-description--1 {
            display: none;
        }

        .fullscreen {
            display: none;
        }

    }


    .short-description--2 {
        margin-top: 66px;

        @include mq-max(sm) {
            margin-top: 44px;

        }
    }

    .short-description--3 {
        margin-top: 66px;

        @include mq-max(sm) {
            margin-top: 44px;
        }
    }
}

.for-sm {
    display: none;

    @include mq-max(sm) {
        display: block;
    }
}